@import "tailwindcss";

*{
    font-family: "inter", sans-serif;
    box-sizing: border-box;
}

#slider{
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;


}

#slider::-webkit-scrollbar{
    display: none;
}

#scroll{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
#scroll::-webkit-scrollbar{
    display: none;
}

#nav-link li a{
    text-decoration: none;
}